In [72]:
import pandas as pd

In [73]:
df = pd.read_csv(r"C:\Users\Bluepollen_F_002\Desktop\ProspectDataScrapper\dataset\Prenoms_fr.csv", sep=";")
df

       01_prenom 02_genre        03_langage
0        aaliyah        f  english (modern)
1         aapeli        m           finnish
2           aapo        m           finnish
3          aaren      m,f           english
4          aarne        m           finnish
...          ...      ...               ...
11622        zvi        m            jewish
11623   zvonimir        m          croatian
11624  zvonimira        f          croatian
11625     zvonko        m          croatian
11626    zygmunt        m            polish

[11627 rows x 3 columns]

In [74]:
df.shape

(11627, 3)

In [75]:
df[df['01_prenom'].str.contains("(1)")==True]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

           01_prenom 02_genre                                 03_langage
141        aeron (1)      m,f                                      welsh
210           ai (1)        f                                   japanese
354       alexis (1)        m     german, french, english, ancient greek
380        alina (1)        f                                     arabic
467        amadi (1)        f                                    african
...              ...      ...                                        ...
10926  valentine (1)        m                                    english
10949        van (1)        m                                    english
11046   victoria (1)        f  english, spanish, romanian, ancient roman
11284     witold (1)        m                                     german
11452       yuri (1)        m                                    russian

[117 rows x 3 columns]

In [76]:
df[df['01_prenom'].str.contains("(2)")==True]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

           01_prenom 02_genre       03_langage
142        aeron (2)      f,m  welsh mythology
211           ai (2)        f          chinese
355       alexis (2)        f          english
381        alina (2)        f   german, polish
468        amadi (2)        m          african
...              ...      ...              ...
10927  valentine (2)        f           french
10950        van (2)        m       vietnamese
11047   victoria (2)        f  roman mythology
11285     witold (2)        m           polish
11453       yuri (2)        f         japanese

[117 rows x 3 columns]

In [77]:
df[df['01_prenom'].str.contains("(3)")==True]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

       01_prenom 02_genre  03_langage
1056    ayla (3)        f  literature
2378    dara (3)      f,m       khmer
4019     gil (3)        m      jewish
6043     kim (3)        f  vietnamese
7143  marian (3)        m         NaN
7688    mona (3)        f      arabic
7971   nessa (3)        f       irish

In [78]:
df[df['01_prenom'].str.contains("(4)")==True]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Empty DataFrame
Columns: [01_prenom, 02_genre, 03_langage]
Index: []

In [79]:
df['01_prenom'].duplicated().sum()

0

In [80]:
df.loc[df['01_prenom'].str.contains("(1)")==True, "01_prenom"] = df['01_prenom'].str[0:-4]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [81]:
df[df['01_prenom'].str.contains("(1)")==True]

Empty DataFrame
Columns: [01_prenom, 02_genre, 03_langage]
Index: []

In [82]:
df.loc[df['01_prenom'].str.contains("(2)")==True, "01_prenom"] = df['01_prenom'].str[0:-4]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [83]:
df[df['01_prenom'].str.contains("(2)")==True]

Empty DataFrame
Columns: [01_prenom, 02_genre, 03_langage]
Index: []

In [84]:
df.loc[df['01_prenom'].str.contains("(3)")==True, "01_prenom"] = df['01_prenom'].str[0:-4]

C:\Users\Bluepollen_F_002\anaconda3\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [85]:
df[df['01_prenom'].str.contains("(3)")==True]

Empty DataFrame
Columns: [01_prenom, 02_genre, 03_langage]
Index: []

In [86]:
df['01_prenom'].duplicated().sum()

124

In [87]:
df[df['01_prenom'].duplicated()]

       01_prenom 02_genre       03_langage
142        aeron      f,m  welsh mythology
211           ai        f          chinese
355       alexis        f          english
381        alina        f   german, polish
468        amadi        m          african
...          ...      ...              ...
10927  valentine        f           french
10950        van        m       vietnamese
11047   victoria        f  roman mythology
11285     witold        m           polish
11453       yuri        f         japanese

[124 rows x 3 columns]

In [88]:
df= df.drop_duplicates(subset="01_prenom")
df

       01_prenom 02_genre        03_langage
0        aaliyah        f  english (modern)
1         aapeli        m           finnish
2           aapo        m           finnish
3          aaren      m,f           english
4          aarne        m           finnish
...          ...      ...               ...
11622        zvi        m            jewish
11623   zvonimir        m          croatian
11624  zvonimira        f          croatian
11625     zvonko        m          croatian
11626    zygmunt        m            polish

[11503 rows x 3 columns]

In [89]:
df['01_prenom'].duplicated().sum()

0

In [90]:
df.shape

(11503, 3)

In [92]:
df.to_csv("exit.csv")